.rowNameAtlete {
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttonNewElement {
    border-radius: 100%;
    background-color: green;
    color: white;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 30px;
    margin: 30px auto;
    cursor: pointer
}

.wizardElements,
.wizardElements select {
    margin-top: 30px;
    font-size: 1.5rem;
    margin-left: 10px;
}

.buttonSendElement {
    border-radius: 5px;
    background-color: green;
    color: white;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
}

.elementDetailsContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.containerFlex {
    display: flex;
    align-items: center;
}

.elementDetail {
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px;
    min-width: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.elementDetail:hover {
    background-color: rgba(9, 9, 114, 0.877);
}

.selectElementType {
    padding: 10px;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}

.recapElementContainer {
    display: flex;
    align-items: center;
}

.rowTableElement {
    display: flex;
}

.cellTableElement {
    padding: 10px;
    border: solid 1px #333;
    width: 25%;
}

.cellTableFirstElement {
    padding: 10px;
    border: solid 1px #333;
    width: 50%;
}

.totalPoint {
    margin-top: 50px;
    font-size: 50px;
}

.recapElementContainer {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

.elementsCompleted {
    margin-top: 20px;
}

.elementRecap {
    margin: 0 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.elementRecap select {
    font-size: 1.5rem;
    margin-left: 10px;
}

.buttonFall {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    min-width: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.rowTableFall {
    background-color: red;
    height: 40px;
    color: white;
    border: 1px solid #333;
    line-height: 40px;
}